---
name: web_tests

on:
  pull_request:
    branches:
      - main

jobs:
  web_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Doppler CLI
        uses: dopplerhq/cli-action@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '14'
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run Cypress tests for @neonlaw/web against staging server
        uses: cypress-io/github-action@v2
        with:
          start: doppler run -- yarn dev
          wait-on: 'http://127.0.0.1:3000'
          working-directory: ./web
        env:
          DOPPLER_TOKEN: ${{ secrets.DOPPLER_TOKEN_STAGING }}
